<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel = "stylesheet" href="style.css">
    </head>

    <style>
        .content-table
        {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 20px;
            min-width: 800px;
            border-radius: 5px 5px 0 0;
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0, 0, 0, 1);
        }

        .content-table thead tr
        {
            background-color: #808080;
            color: #ffffff;
            font-weight: bold;
        }

        .content-table th,
        .content-table td
        {
            padding: 12px 15px;
        }

        .content-table tbody tr
        {
            border-bottom: 1px solid #dddddd ;
        }
    </style>

    <body>
        <header>
            <div class = "wrapper">
                <div class = "logo">
                    <img src="logobu.png" alt="" width="1"> 
                    <ul class = "nav-area">
                        <li><a href="first.html">Home</a></li>
                        <li><a href="#">Grad</a></li>
                        <li><a href="upstudent.html">Update</a></li>
                        <li><a href="#">Face Detection</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>

            <div class="text">
                <ul class="nav-area2">
                    <h1>Contacts Student</h1>
                    <a href="addstudent.html">
                        <button class="b-add">ADD STUDENTS</button>
                    </a>
                </ul>
                <table class="content-table">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>name</th>
                            <th>address</th>
                            <th>tel</th>
                            <th>picture</th>
                            <th>tools</th>
                        </tr>
                    </thead>
                    <tboby>
                        {% for student in data %}

                        <tr>
                            <td>{{ student.idstudent }}</td>
                            <td><p>{{ student.fname }} {{ student.lname}}</p></td>
                            <td>{{ student.address }}</td>
                            <td>{{ student.phone }}</td>
                            <td></td>
                            <td>
                                <a class="button1">Update</a>
                                <a class="button2" href="/delete/{{ student.id }}">Remove</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tboby>
                </table>
            </div>
        </header>
    </body>
</html>