*
{
    margin: 0;
    padding: 0;
    font-family: poppins;
}
.wrapper
{
    width: 1500px;
    margin:auto;
}


header
{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("wall1.jpg");
    height: 200vh;
    -webkit-backgroung-size:cover;
    background-size: cover;
    background-position: center;
    position: relative;
    
}
.nav-area
{
    float: right;
    list-style: none;
    margin-top: 30px;
}

.nav-area2
{
    float: right;
    list-style: none;
    margin-top: 30px;
    padding: 10px;
}

.nav-area li
{
    display: inline-block;
}

.nav-area li a
{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size:  14px;
}

.nav-area li a:hover
{
    background: #fff;
    color: #333;
}

.logo img
{
    width: 100px;
    float: left;
    height: auto;
}

.text
{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 30%;
    text-align: center;
}

.text h1
{
    color: #fff;
    font-family: poppins;
}

.content-table tbody
{
    color: #f3f3f3;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    background: rgba(0, 0, 0, 0.4);
}

.button1
{
    position: relative;
    text-align: center;
    width: 80px;
    padding: 5px;
    font-size: 12px;
    color: #0AE335;
    font-family: poppins;
    font-weight: 400;
    border: 3px solid #0AE335;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 100px;
    transition: 1.5s;
    font-weight: bold;
}

.button1:hover
{
    box-shadow: 0 5px 50px 0 #0AE335 inset, 0 5px 50px 0 #0AE335, 0 5px 50px 0 #0AE335 inset, 0 5px 50px 0 #0AE335;
}

.button2
{
    position: relative;
    text-align: center;
    width: 80px;
    padding: 5px;
    font-size: 12px;
    color: #E30A0A;
    font-family: poppins;
    font-weight: 400;
    border: 3px solid #E30A0A;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 100px;
    transition: 1.5s;
    font-weight: bold;
}

.button2:hover
{
    box-shadow: 0 5px 50px 0 #E30A0A inset, 0 5px 50px 0 #E30A0A, 0 5px 50px 0 #E30A0A inset, 0 5px 50px 0 #E30A0A;
}

.addlist
{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 30%;
    text-align: center;
}

.b-add
{
    position: relative;
    text-align: center;
    width: 200px;
    padding: 5px;
    font-size: 16px;
    color: #E8921E;
    font-family: poppins;
    font-weight: 400;
    border: 3px solid #E8921E;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 100px;
    transition: 1.5s;
}

.b-add:hover
{
    box-shadow: 0 5px 50px 0 #E8921E inset, 0 5px 50px 0 #E8921E, 0 5px 50px 0 #E8921E inset, 0 5px 50px 0 #E8921E;
}