*
{
    margin: 0;
    padding: 0;
    font-family: poppins;
}

.wrapper
{
    width: 1500px;
    margin:auto;
}

.header
{

}
.nav-area
{
    float: right;
    list-style: none;
    margin-top: 30px;
}

.nav-area li
{
    display: inline-block;
}

.nav-area li a
{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size:  14px;
}

.nav-area li a:hover
{
    background: #fff;
    color: #333;
}

.logo img
{
    width: 100px;
    float: left;
    height: auto;
}

body
{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("wall1.jpg");
    height: 200vh;
    background-size: cover;
    background-position: center;
}

.text
{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 30%;
    text-align: center;
}

.update
{
    width: 800px;
    background-color:  #808080;
    margin: auto;
    color: #FFFFFF;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

.main
{
    background: rgba(0, 0, 0, 0.4);
    width: 800px;
    margin: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

form
{
    padding: 10px;
}

.name
{
    margin-left: 25px;
    margin-top: 30px;
    width: 125px;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.inname
{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}

.intel
{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}

.inaddress
{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}

.inid
{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}